
<h3> Pleace Enter Info To New Teacher</h3>

<div>
    <form action="Create" method="post">
        <div><label>Teacher Name:</label></div>
        <input type="text" id="TName" name="TeacherName" placeholder=" Enter Your Name ...." />
        <br />

        <div><label>Teacher Age:</label></div>
        <input type="text" id="TAge" name="TeacherAge" placeholder=" Enter Your Age .... " />
        <br />

        <div><label>Teacher Course:</label></div>

        <input type="text" id="TCourse" name="TeacherCoures" placeholder=" Enter Your Course .... " />
        <br />

        <input type="submit" value="ADD Teacher">

    </form>
</div>

