


<h3> Pleace Enter Info To New Room</h3>

<div>
    <form action="Create" method="post">
        <div><label>Room Name:</label></div>
        <input type="text" id="RName" name="RoomName" placeholder=" Enter Room Name ...." />
        <br />

        <div><label>Room Number:</label></div>
        <input type="text" id="RNumber" name="RoomNumber" placeholder=" Enter Room Number .... " />
        <br />

        <input type="submit" value="ADD Room">

    </form>
</div>