@model List<Rooms>

<table>
    <thead>
        <tr>
            <th>Room Name</th>
            <th>Room Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Rooms room in Model)
        {
            <tr>
                <td>@room.RoomName</td>
                <td>@room.RoomNumber</td>
                <td><a href="/Room/Delete/@room.RoomId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<button>
    <a href="/Room/Create"> <span>Add Room</span></a>
</button>